// list of plugins
plugins {
  // adds a tab bar
  compact-bar { path "tab-bar"; }
  // allows hopping between sessions, mid-session
  session-manager { path "session-manager"; }
}

keybinds {
  unbind "Ctrl g"
  unbind "Ctrl h"

  normal {
    unbind "Ctrl h"
    bind "Ctrl #" { SwitchToMode "Locked"; }
    bind "Ctrl z" { SwitchToMode "Move"; }
  }

  move {
    unbind "Ctrl h"
    bind "Ctrl z" { SwitchToMode "Normal"; }
  }

  locked {
    bind "Ctrl u" { SwitchToMode "Normal"; }
  }
}

//  Send a request for a simplified ui (without arrow fonts) to plugins
simplified_ui true
// keep pane frames?
pane_frames false
// use predefined pane layouts?
auto_layout true
// do multiple people in one session share a cursor?
mirror_session true

// theme
theme "catppuccin-frappe"
// default layout
default_layout "simple"
