// COLOURS
$rosewater: #f2d5cf;
$flamingo: #eebebe;
$pink: #f4b8e4;
$mauve: #ca9ee6;
$red: #e78284;
$maroon: #ea999c;
$peach: #ef9f76;
$yellow: #e5c890;
$green: #a6d189;
$teal: #81c8be;
$sky: #99d1db;
$sapphire: #85c1dc;
$blue: #8caaee;
$lavender: #babbf1;
$text: #c6d0f5;
$subtext1: #b5bfe2;
$subtext0: #a5adce;
$overlay2: #949cbb;
$overlay1: #838ba7;
$overlay0: #737994;
$surface2: #626880;
$surface1: #51576d;
$surface0: #414559;
$base: #303446;
$mantle: #292c3c;
$crust: #232634;

// GLOBAL
* {
  all: unset;
  font-family: "CaskaydiaCove Nerd Font",
}

window {
  background: $crust;
  border: 3px solid $maroon;
  border-radius: 20px;
}

// LEFT BAR
.workspaces{
  color: $rosewater;
  font-size: 15px;
}
.workspaces button {
  padding: 6px;
}
.workspaces button:hover {
  color: $red;
}
.ws-button-mine {
  background-color: $rosewater;
  color: $mantle;
}
.ws-button-urgent {
  color: $rosewater;
  background-color: $red;
}
.ws-button-busy {
  color: $sky;
}
// .ws-button-visible {
//   color: #D35D6E;
//   background-color: #4e4e4e;
// }
.ws-button {
  color: $subtext0;
}

// CENTRE BAR
.music {
  color: $rosewater;
  font-size: 14px;
}

// RIGHT BAR
.battery_box {
  font-size: 18px;
  color: $green;
}

.network {
  color: $rosewater;
  font-size: 22px
}

