tags: [
  "1",
  "2",
  "3",
  "4",
  "5",
  "6",
  "7",
  "8",
  "9"
],

focus_behaviour: Sloppy
focus_new_windows: true
sloppy_mouse_follows_focus: true

layouts: [
  "Monocle",
  "MainAndVertStack",
],

keybind: [
(command: SoftReload,
    modifier: ["modkey", "Shift"],
    key: "r"),

  (command: IncreaseMainWidth, value: "5", modifier: ["modkey"], key: "c"),
  (command: DecreaseMainWidth, value: "5", modifier: ["modkey"], key: "x"),

  (command: ToggleFloating, modifier: ["modkey"], key: "g"),
  (command: ToggleFullScreen, modifier: ["modkey"], key: "f"),
  (command: CloseWindow, value: "", modifier: ["modkey"], key: "w"),
  (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),

  (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "k"),
  (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "j"),
  (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "k"),
  (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "j"),
  (command: NextLayout, value: "", modifier: ["modkey"], key: "Tab"),

  // (command: ToggleScratchPad, value: "WezTerm" /* Name set for the scratchpad */, modifier: ["modkey"], key: "p"),
  // (command: ToggleScratchPad, value: "keybindings" /* Name set for the scratchpad */, modifier: ["modkey", "Control", "Shift"], key: "k"),
  // (command: ReleaseScratchPad, value: "WezTerm", modifier: ["modkey", "Control", "Shift"], key: "p"),
  // (command: AttachScratchPad, value: "WezTerm", modifier: ["modkey", "Shift"], key: "a"),
  // (command: NextScratchPadWindow, value: "WezTerm", modifier: ["modkey", "Shift", "Control"], key: "comma"),
  // (command: PrevScratchPadWindow, value: "WezTerm", modifier: ["modkey", "Shift", "Control"], key: "period"),

  (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
  (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
  (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
  (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
  (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
  (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
  (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
  (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
  (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),

  (command: Execute, value: "leftwm-command \"SendWindowToTag 1\" \"SendWorkspaceToTag 0 0\"", modifier: ["modkey", "Shift"], key: "1"),
  (command: Execute, value: "leftwm-command \"SendWindowToTag 2\" \"SendWorkspaceToTag 0 1\"", modifier: ["modkey", "Shift"], key: "2"),
  (command: Execute, value: "leftwm-command \"SendWindowToTag 3\" \"SendWorkspaceToTag 0 2\"", modifier: ["modkey", "Shift"], key: "3"),
  (command: Execute, value: "leftwm-command \"SendWindowToTag 4\" \"SendWorkspaceToTag 0 3\"", modifier: ["modkey", "Shift"], key: "4"),
  (command: Execute, value: "leftwm-command \"SendWindowToTag 5\" \"SendWorkspaceToTag 0 4\"", modifier: ["modkey", "Shift"], key: "5"),
  (command: Execute, value: "leftwm-command \"SendWindowToTag 6\" \"SendWorkspaceToTag 0 5\"", modifier: ["modkey", "Shift"], key: "6"),
  (command: Execute, value: "leftwm-command \"SendWindowToTag 7\" \"SendWorkspaceToTag 0 6\"", modifier: ["modkey", "Shift"], key: "7"),
  (command: Execute, value: "leftwm-command \"SendWindowToTag 8\" \"SendWorkspaceToTag 0 7\"", modifier: ["modkey", "Shift"], key: "8"),
  (command: Execute, value: "leftwm-command \"SendWindowToTag 9\" \"SendWorkspaceToTag 0 8\"", modifier: ["modkey", "Shift"], key: "9"),
]
